name: 'spring-boot-cache-simulation'
services:
  postgres:
    image: postgres:16.2
    volumes:
      - postgres:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    restart: unless-stopped
    networks:
      - spring-net

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheusV2
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    networks:
      - spring-net
  grafana:
    image: grafana/grafana:latest
    container_name: grafanaV2
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    networks:
      - spring-net

volumes:
  postgres:
    driver: local

networks:
  spring-net:
    driver: bridge